@media (min-width: 601px) and (max-width: 960px) {
	nav img {
	width: 60px;
	}
	nav ul {
		margin-top: 30px;
		width: 60%;
		font-size: 26px;
	}
	header h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 25px;
	}
	aside p {
		font-size: 20px;
		width: 70%;
		margin: 0;
		line-height: 30px;
	}
	aside {
		background-size: 380px;
		background-position: right top;
	}
	aside a {
		margin-top: 50px;
	}
	figure {
		width: 100%;
	}
	.galery {
	}
	.galery li {
		flex-direction: column;
		width: 100%;
	}
	.galery h3 {
		width: 100%;
		padding-bottom: 60px;
	}
	.galery img {
		width: 100%;
	}
	#park {
		flex-direction: column-reverse;
	}
}
@media (max-width: 600px) {
	nav, nav ul {
		display: block;
		font-size: 35px;
		text-align: center;
	}
	nav img {
		width: 100%;
	}
	.link_logo {
		display: block;
		text-align: center;
		padding: 0 38%;
	}
	nav li {
		border-bottom: solid silver 2px;
		margin-bottom: 30px;
	}
	header h1 {
		padding-top: 150px;	
		font-size: 50px;
	}
	aside {
		width: 100%;
		margin: 0;
		background-size: 70%;	
		background-position: right;
	}

	.about_numbers {
		display: block;
	}
	figure {
		width: 100%;
	}
	.galery {
	}
	.galery li {
		flex-direction: column;
		width: 100%;
	}
	.galery h3 {
		width: 100%;
		padding-bottom: 60px;
	}
	.galery img {
		width: 100%;
	}
	#park {
		flex-direction: column-reverse;
	}
	footer {
		display: block;
		text-align: center;
	}
	.futor_social {
		padding-left: 40%;
	}
	.hashtag {
		padding-top: 30px;
	}
	.art {
		padding-bottom: 30px;
		margin-bottom: 0;
	}
}
